<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GeneralTestSuit" verbose="1">

    <!--<parameter name="configFile" value="config.properties"/>-->
    <test name="WeatherByCityTests">
        <classes>
            <class name="com.tests.WeatherByCityName"/>
        </classes>
    </test>

    <!--<test name="test2">
        <classes>
            <class name="tests.CatalogTests"/>
        </classes>
    </test>-->

</suite>
